*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  display: grid;
  justify-items: center;
}


.container{

  display: grid;
  padding: 0;
  row-gap: 10px;
  width: 1300px;
  height: 100vh;
  border: black 1px solid;
  grid-template-columns: 1fr ;
  grid-template-rows: 60px auto;
  grid-template-areas: 'header'
                       'container-content' ;
}
.header{
  grid-area: header;
  background-color: #c9def9;
  display: grid;
grid-template-columns: 1fr;
  grid-template-areas: 'logo form';
  align-items: center;
  padding: 10px;
}
.logo{
grid-area: logo;
  justify-self: left;
  font-size: 20px;
}
.avatar{
  height: 40px;
  width: 40px;
}
.form{
  grid-area: form;
  height: 30px;
  display: grid;
  gap: 5px;
justify-self: right;
  grid-auto-flow: column;
}
.formReg{
  display: grid;
  height: 20vh;
  grid-auto-flow: row;
  grid-column: 3/4;
  justify-self: right;
}
input{
  padding-left: 5px;
}
.container-content{
  display: grid;
  gap: 15px;
  width: 90%;
  grid-area: container-content;
  grid-template-columns: repeat(3, 1fr);
justify-self: center;
  background-color: #eaecee;
padding: 5px;
  text-align: left;
  overflow: auto;
margin-bottom: 10px;
}

.btn-submit{
  color: green;
  border: green 1px solid;
  background-color: #e0ebfb;
  padding: 5px;
  cursor: pointer;
}
.btn-submit:hover{
  font-size: 16px;
  background-color: #66a6f9;
  color: #b2f9b2;
}
.title-page{
display: grid;
  grid-template-rows: 70px auto;
  grid-column: 1/2;
  text-align: left;
}
.title-content{
font-size:50px;
}
.content{
font-size: 30px;
}